body {
    background-color: white;
    font-family: 'Nunito';font-size: 20px;
    /* background-color: #54A19D; */
}

footer {
    font-size: 17px;
}

#support_section {
    z-index: -1;
    display: none;
}

.main-vh {
    height: 100vh;
}

.btn-black-border {
    border: 1px solid black;
}

.bg-yellow {
    background-color: #FFC44C;
}

.bg-light-blue {
    background-color: #54A19D; 
}

.nav-item {
    padding: 15px;
}

.desc{
    width: 80%;
    margin: 0 auto;
    margin-top: 120px;
}

@media (min-width: 768px) {
    #support_section {
        position: absolute;
        display: block;
    }
}