body {
    background-color: white;
    font-family: 'Nunito';font-size: 20px;
    /* background-color: #54A19D; */
}

footer {
    font-size: 17px;
}

#support_section {
    z-index: -1;
    display: none;
}

#value-prop {
    position: relative;
    background-image: url('../images/value-bg.png');
    width: 100%;
}

.overlay {
    padding: 10px;
    width: 100%;
    z-index: 1;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.main-vh {
    height: 100vh;
}

.value-box {
    min-height: 200px;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 3px;
    z-index: 2;
    margin-top: 15px;
}

.btn-black-border {
    border: 1px solid black;
}

.bg-yellow {
    background-color: #FFC44C;
}

.bg-light-blue {
    background-color: #54A19D; 
}
.bg-dark-blue {
    background-color: #134644;
}

.nav-item {
    padding: 15px;
}

.desc{
    width: 80%;
    margin: 0 auto;
    margin-top: 120px;
}

.margin-btn {
    margin-top: 10px;
}

.divider {
    width: 100%;
    height: 70px;
}

.prop-divider {
    width: 100%;
    height: 3px;
    background-color: lightgray;
}

@media (min-width: 768px) {
    #support_section {
        position: absolute;
        display: block;
        top: 100px;
    }

    .overlay {
        display: flex;
        justify-content: space-between;
        height: 100vh;
        align-items: center;
    }

    .value-box {
        width: 25%;
    }
    
}

@media (min-width: 365px) {
    .margin-btn {
        margin-top: 0;
    }
}