body {
    background-color: #54A19D;
}

.main-vh {
    height: 100vh;
}

.btn-black-border {
    border: 1px solid black;
}

.bg-yellow {
    background-color: #FFC44C;
}

.nav-item {
    padding: 15px;
}

.desc{
    margin-top: 100px;
    width: 500px;
    margin: 0 auto;
    margin-top: 150px;
}

